{% extends 'base.html.twig' %}

{% block title %}
	Megrendeléseim
{% endblock %}

{% block body %}
	<h3>Megrendelések</h3>
	
	<table class="table table-hover table-striped">
	<tr>
		<th>Azonosító</th>
		<th>Számlázási cím</th>
		<th>Nettó</th>
		<th>Áfa</th>
		<th>Bruttó</th>
	</tr>
	{% for ords in result %}
		<tr>
		<td>Id: {{ ords.id }}</td>
		<td>{{ ords.addressname }}</td>
		<td>{{ ords.netto }}Ft</td>
		<td>{{ ords.tax }}Ft</td>
		<td>{{ ords.brutto }}Ft</td>
		</tr>
	{% endfor %}
	</table>
	
{% endblock %}
